body {
    background-color: #f0f2f5;
    overflow-x: hidden;
}
.ytlogo {
    width:10%;
    margin-left: 1%;
}
.ytsearchbar {
    margin-left: 5%;
    min-width: 20%;
    max-width: 40%;
}
.ytinput {
    font-size: 1.35em;
}
.xyt {
    margin-left: 16vw;
}
.profileimg {
    width: 45px;
}
.micout {
    height:45px;
    width: 45px;
    background-color: #f0f2f5;
}
.micccc {
    margin: 0 20px 0 20px;
}
    .iconr {
        margin-right: 2.1rem;
}
.ntg {
    width: 35px;
    height: 35px ;
}
.main-col-left{
    background-color: #f0f2f5;
}
.maincol {
    background-color: #f0f2f5;
}
body::before {
    display: block;
    content:'';
    height: 80px;
}
.side-nav-wrapper {
    width: 100%;
}
.side-nav-text {
    font-size: 0.80em;
}
.swrapper{
    position: fixed;
    height: 100%;
    margin-left: 12px;
    padding: 0;
    width: 6%
}
.tag-carousel{
    position: relative;
    padding-right: 5%;
}
.tag-carousel-wrapper {
    position: relative;
    border-top: 2px solid #e0e4eb;
    border-bottom: 2px solid #e0e4eb;
    z-index: 1;
    margin-top: .2%;
    margin-left: -2.7%;
    margin-right: -5%;
}

.tag-btn{
    display:inline-block;
    min-width: 100px;
    max-width: 100px;
    border: 1px solid #d0d7e1;
    background-color: #f0f2f5;
    border-radius: 50px;
}
.tag-btn-wrapper{
overflow: hidden;
}
.card-link{
    text-decoration: none;
    color: #000;
}
.card-link:hover {
    color: #000;
}
.main-color {
    background-color:#f0f2f5;
}
.thumb-vid-length {
    position: relative;
    margin-top: -35px;
    margin-right: 5px;
}
.thumb-vid-length-btn {
    background-color: rgba(33, 37, 41, 0.8);
}
.thumb-vid-title {
    font-weight: 450;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 60px;
    line-height: 20px;
}
.thumb-profile {
    width: 50px;
    position: relative;
    margin-top: -80px;
}
.thumb-text{
    position: relative;
    margin-left: 60px;
    color: #aaa;
    font-size: 14px;
    margin-top: -22px;
}
.single-line{
    margin-left: 60px;
    color: #aaa;
    font-size: 14px;
    position: relative;
    margin-top: -40px;
}
.single-line {
    padding-bottom: 18px;
}
.thumb-views span {
    font-size: 20px;
}
.thumb-views{
    position: relative;
    margin-top: -5px;
}

@media only screen and (min-width: 800px) and (max-width: 1300px) {
    .side-nav-text{
        font-size: 0.70em;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1130px) {
    .side-nav-text{
        font-size: 0.65em;
    }
}
@media only screen and (min-width: 100px) and (max-width: 990px) {
    .thumb-profile {
        margin-top: -40px;
    }
}