.ytlogo {
    width:10%;
    margin-left: 1%;
}
.ytsearchbar {
    margin-left: 5%;
    min-width: 20%;
    max-width: 40%;
}
.ytinput {
    font-size: 1.35em;
}
.xyt {
    margin-left: 16vw;
}
.profileimg {
    width: 45px;
}
.micout {
    height:45px;
    width: 45px;
    background-color: #f0f2f5;
}
.micccc {
    margin: 0 20px 0 20px;
}
    .iconr {
        margin-right: 2.1rem;
}
.ntg {
    width: 35px;
    height: 35px ;
}
.main-col-left{
    background-color: #f0f2f5;
}
.maincol {
    background-color: #f0f2f5;
}
body::before {
    display: block;
    content:'';
    height: 80px;
}
.side-nav-wrapper {
    width: 100%;
}
.side-nav-text {
    font-size: 0.80em;
}
.swrapper{
    position: fixed;
    height: 100%;
    margin-left: 12px;
    padding: 0;
    width: 6%
}
.tag-carousel{
    position: relative;
    margin-left:;
}
.tag-carousel-wrapper {
    position: relative;
    border-top: 2px solid #e0e4eb;
    border-bottom: 2px solid #e0e4eb;
    z-index: 1;
    margin-top: 3px;
    margin-left: -2.8%;
}
.tag-btn{
    display:inline-block;
    min-width: 100px;
    max-width: 100px;
    border: 1px solid #d0d7e1;
    background-color: #f0f2f5;
    border-radius: 50px;
}
.tag-btn-wrapper{
overflow: hidden;
}
@media only screen and (min-width: 800px) and (max-width: 1300px) {
    .side-nav-text{
        font-size: 0.70em;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1130px) {
    .side-nav-text{
        font-size: 0.65em;
    }
}